<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>
        欢迎：<span th:if="${session.user != null}" th:text="${session.user.username}"></span>
    </h2>
    <hr>
    <h3>文件列表</h3>
    <table border="1" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>原始名称</th>
            <th>新名称</th>
            <th>后缀</th>
            <th>路径</th>
            <th>文件大小</th>
            <th>类型</th>
            <th>是否是图片</th>
            <th>下载次数</th>
            <th>上传时间</th>
            <th>操作</th>
        </tr>
        <tbody th:each="file,status:${files}">
        <tr>
            <td th:text="${status.count}"></td>
            <td th:text="${file.oldFileName}"></td>
            <td th:text="${file.newFileName}"></td>
            <td th:text="${file.ext}"></td>
            <td th:text="${file.path}"></td>
            <td th:text="${file.size}"></td>
            <td th:text="${file.type}"></td>
            <td th:text="${file.isImg}"></td>
            <td th:text="${file.downcounts}"></td>
            <td th:text="${#dates.format(file.uploadTime,'yyyy-MM-dd  HH:mm:ss')}"></td>
            <td>
                <a th:href="@{/download/} + ${file.id} +'/a'">下载</a>
                <a th:href="@{/download/} + ${file.id} + '/inline'">打开</a>
                <a th:href="@{/delete/} + ${file.id}">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="上传文件">
    </form>
</body>
</html>